@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: peachpuff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  background-image: url("engine.jpg");
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: crimson;
  font-family: "Times New Roman", Times, serif;
  text-wrap: balance;
}

h1 {
  font-size: 2.36875rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.77688rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.33313rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-transform: uppercase;
}

p {
  text-wrap: pretty;
}

a {
  color: white;
  font-weight: 500;
}

button {
  padding: 0.75rem 1rem;
  background-color: yellow;
  color: black;
  border-radius: 0.75rem;
  border: none;
  font-weight: 500;
}

.display-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.1575rem;
  font-weight: 400;
  line-height: 3.5rem;
}

section.page-section {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid white;
  margin: 0 auto 1rem auto;
  width: 100%;
  max-width: 1920px;
}
